@import "variables"; // variable 

.tdl-holder {
    margin: 0 auto;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        position: relative;
        background-color: transparent; 
        list-style: outside none none;
        margin: 0;
        padding: 7px 0; 

        &:after , &:before {
            content: "\f142";
            top: 24px; 
            position: absolute;
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            z-index: 99;
            color: $text-color-1; 
        }
         &:after  { 
            left: 10px; 
         }
         &:before  { 
            left: 14px; 
         }

        span {
            margin-left: 30px; 
            vertical-align: middle; 
            transition: all 0.2s linear;
        }
    }

    label {
        cursor: pointer;
        display: block;
        line-height: 50px;
        padding: 0 15px;
        padding-left: 30px;
        position: relative;
        margin: 0 !important; 
        background: $menu-active-bg; 
        color: $text-color-1; 
        font-size: 15px;
        transition: all 0.2s linear;

        &:hover {
            background-color:  rgba($text-color-1, 0.1);  
        }

        a { 
            border-radius: 50%;
            color: rgba($text-color-1, 0.5);
            float: right; 
            line-height: normal; 
            margin-top: 15px;
            text-align: center;
            text-decoration: none;
            height: 16px;
            width: 20px; 
            transition: all 0.2s linear;

            &:hover { 
                color: rgba($text-color-1, 0.8);
            }
        }
    }

    input[type="checkbox"] {
        cursor: pointer;
        opacity: 0;
        position: absolute;

        &+i { 
            border:1px solid rgba($text-color-1, 0.3);
            display: block;
            height: 18px;
            position: absolute;
            top: 15px;
            width: 18px;
            z-index: 1;
        }

        &:checked {
            &+i {
                &::after { 
                    content: "\e64c";
                    font-family: 'themify';
                    display: block;  
                    color: rgba($text-color-1, 0.5);
                    left: 0;
                    position: absolute;
                    top: -16px;  
                    z-index: 2;
                }
            }

            &~span { 
                text-decoration: line-through;
            }
        }
    }

    input[type="text"] { 
        height: 60px;
        margin-top: 20px;
        font-size: 14px;
    }
}