<footer class='footer mt-auto py-3'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-6'>
        <p class='mb-0 text-muted'>
          Copyright &copy;
          {{year}}
          ElaAdmin. All rights reserved.
        </p>
      </div>
      <div class='col-md-6 text-md-end'>
        <p class='mb-0 text-muted'>
          Designed by
          <a href='https://colorlib.com' target='_blank' class='text-primary'>Colorlib</a>
        </p>
      </div>
    </div>
  </div>
</footer>