<!-- Ultra Simple Working Header -->
<div id='header' class='simple-header'>
  <div class='header-left'>
    <img src='images/logo.png' alt='Logo' class='logo' />
    <button id='menu-toggle' class='menu-btn'>
      <i class='fa fa-bars'></i>
    </button>
  </div>
  <div class='header-right'>
    <div class='dropdown'>
      <button class='header-btn dropdown-toggle' type='button' data-bs-toggle='dropdown'>
        <i class='fa fa-bell'></i>
        <span class='badge'>3</span>
      </button>
      <ul class='dropdown-menu dropdown-menu-end'>
        <li><h6 class='dropdown-header'>Notifications</h6></li>
        <li><a class='dropdown-item' href='#'>Server alert</a></li>
        <li><a class='dropdown-item' href='#'>New message</a></li>
        <li><a class='dropdown-item' href='#'>System update</a></li>
      </ul>
    </div>

    <div class='dropdown'>
      <button class='header-btn dropdown-toggle' type='button' data-bs-toggle='dropdown'>
        <i class='fa fa-envelope'></i>
        <span class='badge'>4</span>
      </button>
      <ul class='dropdown-menu dropdown-menu-end'>
        <li><h6 class='dropdown-header'>Messages</h6></li>
        <li><a class='dropdown-item' href='#'>John Smith</a></li>
        <li><a class='dropdown-item' href='#'>Jane Doe</a></li>
        <li><a class='dropdown-item' href='#'>Bob Wilson</a></li>
      </ul>
    </div>

    <div class='dropdown'>
      <button class='header-btn dropdown-toggle' type='button' data-bs-toggle='dropdown'>
        <img src='images/admin.jpg' alt='User' class='user-avatar' />
      </button>
      <ul class='dropdown-menu dropdown-menu-end'>
        <li><a class='dropdown-item' href='#'><i class='fa fa-user'></i> Profile</a></li>
        <li><a class='dropdown-item' href='#'><i class='fa fa-cog'></i> Settings</a></li>
        <li><hr class='dropdown-divider' /></li>
        <li><a class='dropdown-item' href='#'><i class='fa fa-sign-out'></i> Logout</a></li>
      </ul>
    </div>
  </div>
</div>