<header class='header' id='header'>
  <button class='header-toggle' id='sidebar-toggle'>
    <i class='fa-solid fa-bars'></i>
  </button>

  <div class='header-search'>
    <i class='fa-solid fa-search search-icon'></i>
    <input type='text' class='form-control' placeholder='Search...' />
  </div>

  <div class='header-menu'>
    <div class='header-notifications'>
      <button class='btn btn-link position-relative'>
        <i class='fa-solid fa-bell'></i>
        <span class='notification-badge'>3</span>
      </button>
    </div>

    <div class='header-messages'>
      <button class='btn btn-link position-relative'>
        <i class='fa-solid fa-envelope'></i>
        <span class='notification-badge'>5</span>
      </button>
    </div>

    <div class='dropdown header-user'>
      <button class='btn btn-link d-flex align-items-center' data-bs-toggle='dropdown'>
        <img src='/images/admin.jpg' alt='Admin' class='user-avatar' />
        <div class='user-info'>
          <span class='user-name'>John Doe</span>
          <span class='user-role'>Administrator</span>
        </div>
      </button>
      <ul class='dropdown-menu dropdown-menu-end'>
        <li><a class='dropdown-item' href='#'><i class='fa-solid fa-user me-2'></i>
            My Profile</a></li>
        <li><a class='dropdown-item' href='#'><i class='fa-solid fa-bell me-2'></i>
            Notifications</a></li>
        <li><a class='dropdown-item' href='#'><i class='fa-solid fa-gear me-2'></i>
            Settings</a></li>
        <li><hr class='dropdown-divider' /></li>
        <li><a class='dropdown-item' href='/page-login.html'><i
              class='fa-solid fa-power-off me-2'
            ></i>
            Logout</a></li>
      </ul>
    </div>
  </div>
</header>