<!-- Ultra Simple Working Sidebar -->
<div id='sidebar' class='simple-sidebar'>
  <ul class='simple-nav'>
    <li><a href='index.html'><i class='fa fa-home'></i> Dashboard</a></li>
    <li class='nav-header'>UI Elements</li>
    <li class='has-dropdown'>
      <a href='#' class='dropdown-trigger'><i class='fa fa-cogs'></i>
        Components
        <i class='fa fa-chevron-down'></i></a>
      <ul class='dropdown-menu'>
        <li><a href='ui-buttons.html'>Buttons</a></li>
        <li><a href='ui-badges.html'>Badges</a></li>
        <li><a href='ui-tabs.html'>Tabs</a></li>
        <li><a href='ui-alerts.html'>Alerts</a></li>
        <li><a href='ui-modals.html'>Modals</a></li>
      </ul>
    </li>
    <li class='has-dropdown'>
      <a href='#' class='dropdown-trigger'><i class='fa fa-table'></i>
        Tables
        <i class='fa fa-chevron-down'></i></a>
      <ul class='dropdown-menu'>
        <li><a href='tables-basic.html'>Basic Table</a></li>
        <li><a href='tables-data.html'>Data Table</a></li>
      </ul>
    </li>
    <li class='has-dropdown'>
      <a href='#' class='dropdown-trigger'><i class='fa fa-edit'></i>
        Forms
        <i class='fa fa-chevron-down'></i></a>
      <ul class='dropdown-menu'>
        <li><a href='forms-basic.html'>Basic Form</a></li>
        <li><a href='forms-advanced.html'>Advanced Form</a></li>
      </ul>
    </li>
    <li class='has-dropdown'>
      <a href='#' class='dropdown-trigger'><i class='fa fa-bar-chart'></i>
        Charts
        <i class='fa fa-chevron-down'></i></a>
      <ul class='dropdown-menu'>
        <li><a href='charts-chartjs.html'>Chart JS</a></li>
      </ul>
    </li>
    <li><a href='widgets.html'><i class='fa fa-puzzle-piece'></i> Widgets</a></li>
  </ul>
</div>