<aside class='sidebar' id='sidebar'>
  <a href='/' class='sidebar-brand'>
    <i class='fa-solid fa-layer-group sidebar-brand-icon'></i>
    <span class='sidebar-brand-text'>ElaAdmin</span>
  </a>

  <nav class='sidebar-nav'>
    <ul class='nav flex-column'>
      <li class='nav-item' data-tooltip='Dashboard'>
        <a class='nav-link active' href='/'>
          <i class='fa-solid fa-gauge nav-icon'></i>
          <span class='nav-link-text'>Dashboard</span>
        </a>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='UI Elements'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#ui-elements'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-layer-group nav-icon'></i>
          <span class='nav-link-text'>UI Elements</span>
        </a>
        <div class='collapse' id='ui-elements'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/ui-alerts.html'>
                <i class='fa-solid fa-bell nav-subicon'></i>Alerts
              </a></li>
            <li><a class='dropdown-item' href='/ui-badges.html'>
                <i class='fa-solid fa-award nav-subicon'></i>Badges
              </a></li>
            <li><a class='dropdown-item' href='/ui-buttons.html'>
                <i class='fa-solid fa-hand-pointer nav-subicon'></i>Buttons
              </a></li>
            <li><a class='dropdown-item' href='/ui-cards.html'>
                <i class='fa-solid fa-id-card nav-subicon'></i>Cards
              </a></li>
            <li><a class='dropdown-item' href='/ui-grids.html'>
                <i class='fa-solid fa-th nav-subicon'></i>Grids
              </a></li>
            <li><a class='dropdown-item' href='/ui-modals.html'>
                <i class='fa-solid fa-window-restore nav-subicon'></i>Modals
              </a></li>
            <li><a class='dropdown-item' href='/ui-progressbar.html'>
                <i class='fa-solid fa-tasks nav-subicon'></i>Progress Bars
              </a></li>
            <li><a class='dropdown-item' href='/ui-tabs.html'>
                <i class='fa-solid fa-folder nav-subicon'></i>Tabs
              </a></li>
            <li><a class='dropdown-item' href='/ui-typgraphy.html'>
                <i class='fa-solid fa-font nav-subicon'></i>Typography
              </a></li>
          </ul>
        </div>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='Charts'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#charts'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-chart-line nav-icon'></i>
          <span class='nav-link-text'>Charts</span>
        </a>
        <div class='collapse' id='charts'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/charts-chartjs.html'>
                <i class='fa-solid fa-chart-bar nav-subicon'></i>Chart.js
              </a></li>
          </ul>
        </div>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='Forms'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#forms'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-file-lines nav-icon'></i>
          <span class='nav-link-text'>Forms</span>
        </a>
        <div class='collapse' id='forms'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/forms-basic.html'>
                <i class='fa-solid fa-edit nav-subicon'></i>Basic Form
              </a></li>
            <li><a class='dropdown-item' href='/forms-advanced.html'>
                <i class='fa-solid fa-cogs nav-subicon'></i>Advanced Form
              </a></li>
          </ul>
        </div>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='Tables'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#tables'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-table nav-icon'></i>
          <span class='nav-link-text'>Tables</span>
        </a>
        <div class='collapse' id='tables'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/tables-basic.html'>
                <i class='fa-solid fa-list nav-subicon'></i>Basic Table
              </a></li>
            <li><a class='dropdown-item' href='/tables-data.html'>
                <i class='fa-solid fa-database nav-subicon'></i>Data Table
              </a></li>
          </ul>
        </div>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='Icons'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#icons'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-icons nav-icon'></i>
          <span class='nav-link-text'>Icons</span>
        </a>
        <div class='collapse' id='icons'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/font-fontawesome.html'>
                <i class='fa-brands fa-font-awesome nav-subicon'></i>Font Awesome
              </a></li>
            <li><a class='dropdown-item' href='/font-icons.html'>
                <i class='fa-solid fa-icons nav-subicon'></i>Modern Icons
              </a></li>
          </ul>
        </div>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='Maps'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#maps'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-map nav-icon'></i>
          <span class='nav-link-text'>Maps</span>
        </a>
        <div class='collapse' id='maps'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/maps-gmap.html'>
                <i class='fa-brands fa-google nav-subicon'></i>Google Maps
              </a></li>
            <li><a class='dropdown-item' href='/maps-vector.html'>
                <i class='fa-solid fa-globe nav-subicon'></i>Vector Maps
              </a></li>
          </ul>
        </div>
      </li>

      <li class='nav-item' data-tooltip='Widgets'>
        <a class='nav-link' href='/widgets.html'>
          <i class='fa-solid fa-puzzle-piece nav-icon'></i>
          <span class='nav-link-text'>Widgets</span>
        </a>
      </li>

      <li class='nav-item nav-dropdown' data-tooltip='Pages'>
        <a
          class='nav-link'
          data-bs-toggle='collapse'
          href='#pages'
          role='button'
          aria-expanded='false'
        >
          <i class='fa-solid fa-file nav-icon'></i>
          <span class='nav-link-text'>Pages</span>
        </a>
        <div class='collapse' id='pages'>
          <ul class='nav flex-column dropdown-menu'>
            <li><a class='dropdown-item' href='/page-login.html'>
                <i class='fa-solid fa-sign-in-alt nav-subicon'></i>Login
              </a></li>
            <li><a class='dropdown-item' href='/page-register.html'>
                <i class='fa-solid fa-user-plus nav-subicon'></i>Register
              </a></li>
            <li><a class='dropdown-item' href='/page-forget.html'>
                <i class='fa-solid fa-key nav-subicon'></i>Forgot Password
              </a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</aside>