<!-- Left Panel -->
<aside id='left-panel' class='left-panel'>
  <!-- Navigation Menu -->
  <div class='sidebar-menu'>
    <nav class='nav-menu'>
      <!-- Dashboard -->
      <div class='nav-item'>
        <a href='index.html' class='nav-link active'>
          <i class='nav-icon fas fa-tachometer-alt'></i>
          <span class='nav-text'>Dashboard</span>
        </a>
      </div>

      <!-- UI Elements Section -->
      <div class='nav-section'>
        <span class='nav-section-title'>UI ELEMENTS</span>
      </div>

      <!-- Components Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='components'>
          <i class='nav-icon fas fa-puzzle-piece'></i>
          <span class='nav-text'>Components</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='components-menu'>
          <a href='ui-buttons.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Buttons</span>
          </a>
          <a href='ui-badges.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Badges</span>
          </a>
          <a href='ui-tabs.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Tabs</span>
          </a>
          <a href='ui-cards.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Cards</span>
          </a>
          <a href='ui-alerts.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Alerts</span>
          </a>
          <a href='ui-progressbar.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Progress Bars</span>
          </a>
          <a href='ui-modals.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Modals</span>
          </a>
          <a href='ui-switches.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Switches</span>
          </a>
          <a href='ui-grids.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Grids</span>
          </a>
          <a href='ui-typgraphy.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Typography</span>
          </a>
          <a href='ui-sweetalert.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>SweetAlert2</span>
          </a>
        </div>
      </div>

      <!-- Tables Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='tables'>
          <i class='nav-icon fas fa-table'></i>
          <span class='nav-text'>Tables</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='tables-menu'>
          <a href='tables-basic.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Basic Table</span>
          </a>
          <a href='tables-data.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Data Table</span>
          </a>
        </div>
      </div>

      <!-- Forms Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='forms'>
          <i class='nav-icon fas fa-edit'></i>
          <span class='nav-text'>Forms</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='forms-menu'>
          <a href='forms-basic.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Basic Form</span>
          </a>
          <a href='forms-advanced.html' class='submenu-link'>
            <i class='submenu-icon far fa-circle'></i>
            <span>Advanced Form</span>
          </a>
        </div>
      </div>

      <!-- Icons Section -->
      <div class='nav-section'>
        <span class='nav-section-title'>ICONS & CHARTS</span>
      </div>

      <!-- Icons Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='icons'>
          <i class='nav-icon fas fa-icons'></i>
          <span class='nav-text'>Icons</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='icons-menu'>
          <a href='font-fontawesome.html' class='submenu-link'>
            <i class='submenu-icon fab fa-font-awesome'></i>
            <span>Font Awesome</span>
          </a>
          <a href='font-icons.html' class='submenu-link'>
            <i class='submenu-icon fas fa-icons'></i>
            <span>Modern Icons</span>
          </a>
        </div>
      </div>

      <!-- Widgets -->
      <div class='nav-item'>
        <a href='widgets.html' class='nav-link'>
          <i class='nav-icon fas fa-th-large'></i>
          <span class='nav-text'>Widgets</span>
        </a>
      </div>

      <!-- Charts Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='charts'>
          <i class='nav-icon fas fa-chart-bar'></i>
          <span class='nav-text'>Charts</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='charts-menu'>
          <a href='charts-chartjs.html' class='submenu-link'>
            <i class='submenu-icon fas fa-chart-line'></i>
            <span>Chart JS</span>
          </a>
        </div>
      </div>

      <!-- Maps Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='maps'>
          <i class='nav-icon fas fa-map-marked-alt'></i>
          <span class='nav-text'>Maps</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='maps-menu'>
          <a href='maps-gmap.html' class='submenu-link'>
            <i class='submenu-icon fas fa-map'></i>
            <span>Google Maps</span>
          </a>
          <a href='maps-vector.html' class='submenu-link'>
            <i class='submenu-icon fas fa-vector-square'></i>
            <span>Vector Maps</span>
          </a>
        </div>
      </div>

      <!-- Extras Section -->
      <div class='nav-section'>
        <span class='nav-section-title'>EXTRAS</span>
      </div>

      <!-- Pages Dropdown -->
      <div class='nav-item has-submenu'>
        <a href='#' class='nav-link' data-menu='pages'>
          <i class='nav-icon fas fa-file-alt'></i>
          <span class='nav-text'>Pages</span>
          <i class='nav-arrow fas fa-chevron-right'></i>
        </a>
        <div class='nav-submenu' id='pages-menu'>
          <a href='page-login.html' class='submenu-link'>
            <i class='submenu-icon fas fa-sign-in-alt'></i>
            <span>Login</span>
          </a>
          <a href='page-register.html' class='submenu-link'>
            <i class='submenu-icon fas fa-user-plus'></i>
            <span>Register</span>
          </a>
          <a href='pages-forget.html' class='submenu-link'>
            <i class='submenu-icon fas fa-key'></i>
            <span>Forget Password</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</aside>
<!-- End Left Panel -->