<!-- Clean Sidebar Navigation -->
<aside id='sidebar' class='sidebar'>
  <nav class='sidebar-nav'>
    <ul class='sidebar-menu'>
      <li class='sidebar-item'>
        <a href='index.html' class='sidebar-link'>
          <i class='fa fa-laptop'></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class='sidebar-header'>UI Elements</li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#components-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-cogs'></i>
          <span>Components</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='components-submenu'>
          <li><a href='ui-buttons.html' class='sidebar-sublink'><i class='fa fa-puzzle-piece'></i>
              Buttons</a></li>
          <li><a href='ui-badges.html' class='sidebar-sublink'><i class='fa fa-id-badge'></i>
              Badges</a></li>
          <li><a href='ui-tabs.html' class='sidebar-sublink'><i class='fa fa-bars'></i>
              Tabs</a></li>
          <li><a href='ui-cards.html' class='sidebar-sublink'><i class='fa fa-id-card-o'></i>
              Cards</a></li>
          <li><a href='ui-alerts.html' class='sidebar-sublink'><i
                class='fa fa-exclamation-triangle'
              ></i>
              Alerts</a></li>
          <li><a href='ui-progressbar.html' class='sidebar-sublink'><i class='fa fa-spinner'></i>
              Progress Bars</a></li>
          <li><a href='ui-modals.html' class='sidebar-sublink'><i class='fa fa-fire'></i>
              Modals</a></li>
          <li><a href='ui-switches.html' class='sidebar-sublink'><i class='fa fa-book'></i>
              Switches</a></li>
          <li><a href='ui-grids.html' class='sidebar-sublink'><i class='fa fa-th'></i>
              Grids</a></li>
          <li><a href='ui-typgraphy.html' class='sidebar-sublink'><i class='fa fa-file-word-o'></i>
              Typography</a></li>
        </ul>
      </li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#tables-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-table'></i>
          <span>Tables</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='tables-submenu'>
          <li><a href='tables-basic.html' class='sidebar-sublink'><i class='fa fa-table'></i>
              Basic Table</a></li>
          <li><a href='tables-data.html' class='sidebar-sublink'><i class='fa fa-table'></i>
              Data Table</a></li>
        </ul>
      </li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#forms-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-th'></i>
          <span>Forms</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='forms-submenu'>
          <li><a href='forms-basic.html' class='sidebar-sublink'><i class='fa fa-th'></i>
              Basic Form</a></li>
          <li><a href='forms-advanced.html' class='sidebar-sublink'><i class='fa fa-th'></i>
              Advanced Form</a></li>
        </ul>
      </li>

      <li class='sidebar-header'>Icons</li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#icons-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-tasks'></i>
          <span>Icons</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='icons-submenu'>
          <li><a href='font-fontawesome.html' class='sidebar-sublink'><i
                class='fa fa-fort-awesome'
              ></i>
              Font Awesome</a></li>
          <li><a href='font-icons.html' class='sidebar-sublink'><i class='fa fa-icons'></i>
              Modern Icons</a></li>
        </ul>
      </li>

      <li class='sidebar-item'>
        <a href='widgets.html' class='sidebar-link'>
          <i class='ti-email'></i>
          <span>Widgets</span>
        </a>
      </li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#charts-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-bar-chart'></i>
          <span>Charts</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='charts-submenu'>
          <li><a href='charts-chartjs.html' class='sidebar-sublink'><i class='fa fa-line-chart'></i>
              Chart JS</a></li>
        </ul>
      </li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#maps-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-area-chart'></i>
          <span>Maps</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='maps-submenu'>
          <li><a href='maps-gmap.html' class='sidebar-sublink'><i class='fa fa-map-o'></i>
              Google Maps</a></li>
          <li><a href='maps-vector.html' class='sidebar-sublink'><i class='fa fa-street-view'></i>
              Vector Maps</a></li>
        </ul>
      </li>

      <li class='sidebar-header'>Extras</li>

      <li class='sidebar-item has-submenu'>
        <a
          href='#'
          class='sidebar-link'
          data-bs-toggle='collapse'
          data-bs-target='#pages-submenu'
          aria-expanded='false'
        >
          <i class='fa fa-glass'></i>
          <span>Pages</span>
          <i class='fa fa-chevron-down submenu-arrow'></i>
        </a>
        <ul class='sidebar-submenu collapse' id='pages-submenu'>
          <li><a href='page-login.html' class='sidebar-sublink'><i class='fa fa-sign-in'></i>
              Login</a></li>
          <li><a href='page-register.html' class='sidebar-sublink'><i class='fa fa-sign-in'></i>
              Register</a></li>
          <li><a href='pages-forget.html' class='sidebar-sublink'><i class='fa fa-paper-plane'></i>
              Forget Pass</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>